:root {
background-color: grey;
}

html, body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
background-color: rgb(121, 177, 121);
height: 4em;
padding: 1px 10px;
display: flex;
justify-content: space-between;
color: white;
}

.photos {
height: 100vh;
width: 100%;
}

.cart {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

